@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

html {
    font-family: "Pacifico", sans-serif;
}
* {
    margin: 0;
}
body {
    margin: 0 auto;
    background: #FFF;

}
ul {
    padding: 0;
}
.header {
    background-color: #222;
    height: 5%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header_block_menu_item {
    color: #cbab90;
    height: 80%;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 53px;
}
.header_block_menu_button{
    color: #cbab90;
    background-color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 144px;
    font-family: "Pacifico", sans-serif;
}
.info_page{
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info_page_img {
    flex: 1;
    max-width: 30%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.info_page_text {
    flex: 1;
    text-align: center;
    max-width: 50%;
}

.info_random_page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.info_random_page_title {
    flex: 1;
    text-align: center;
    align-self: center;
}

.info_random_page_recipe_list {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}

.description_text{
    flex: 1;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.description_list{
    list-style-type: none;
}
.recipe_img{
    flex: 1;
    max-width: 30%;
    height: auto;
}

.registration_img{
    flex: 1;
    max-width: 20%;
    max-height: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.footer {
    background-color: #222;
    height: 5%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width: 1439px) {

.header{
    padding: 5px;
}

.header_block_menu_item {
    font-size: 12px;
}


.header_block_menu_button{
    font-size: 12px;
    width: 100px;
}
.no_mobile{
    display: none;
}}

@media screen and (max-width: 767px){
   .no_mobile{
    display: none;
}
}
