{% extends 'base.html' %}
{% block content %}
    <div class="info_page">
        <img src="static/images/ketogenic-low-carbs-diet-food-selection-white-wall.jpg" class="info_page_img">
        <div class="info_page_text">{{ content | safe }}</div>
    </div>

    <section class="info_random_page">
        <div class="info_random_page_title">
            <h2>Шеф, сегодня в меню блюда-дня</h2>
        </div>
        <div class="info_random_page_recipe_list">
            <ul>
                {% for recipe in random_recipes %}
                    <li class="description_text">
                        <a href="{% url 'recipe_details' recipe.id %}">{{ recipe.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}